body {
    margin: 0;
    padding: 0;
    font-family: poppins;
    background-color:  white;
  }
.row {
  width: 100%
}
h2 {
  text-align: center;
  margin-top: 0px;
  background-color: #2E8B57;
  max-width: 200px;
  margin-top: -10px;
  margin-right: -10px;
  margin-left: 220px;


}
h3 {
   text-align: center;
  margin-top: 0px;
  background-color: #DAA520;
  max-width: 200px;
  margin-top: -10px;
  margin-right: -10px;
  margin-left: 220px;
  font-size: 110%
}
h4 {
  text-align: center;
  margin-top: 0px;
  background-color: #E9967A;
  max-width: 200px;
  margin-top: -10px;
  margin-right: -10px;
  margin-left: 220px;
  font-size: 120%;
}
.wrapper {
      padding: 5px;
      max-width: 960px;
      width: 95%;
      margin: 20px auto;
}

header {
     padding: 0 15px;
     text-align: center;
     font-size: 21px;
}
.columns {
     display: flex;
     flex-flow: row wrap;
     justify-content: center;
     margin: 5px 0;
}
.column {
      flex: 1;
      border: 1px solid black;
      margin: 2px;
      padding: 10px;
      background: grey;
      transition: 0.3s;
}
.colummn: first-child {
      margin-left: 0;
      background: blue;
}

.column: last-child {
      margin-left: 0;
      background: green;
}
@media screen and (max-width: 992px) {
      .columns .column {
          margin-bottom: 5px;
          flex-basis: 40%;
      }
      .columns .column: last-child {
          flex-basis: 100%;
          margin: 0;
      } 
      .columns .column:nth-last-child(2) {
           margin-right: 0;
        }
}

 @media screen and (max-width: 768px) {
     .columns .column {
        flex-basis: 100%;
        margin: 0 0 5px 0;
     }
 }













